MicroFlap/Datum.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 3 U (http://www.xmlspy.com) by Jacinto Verdaguer (DSSA) -->
<!--DTD generated by XMLSPY v5 rel. 3 U (http://www.xmlspy.com)-->
<!ELEMENT Datum (Ellipsoid, Delta, Error, Region)>
<!ATTLIST Datum
	Name CDATA #REQUIRED
>
<!ELEMENT DatumFile (Ellipsoids, Datums)>
<!ELEMENT Datums (Datum+)>
<!ELEMENT Delta (#PCDATA)>
<!ELEMENT Ellipsoid (#PCDATA)>
<!ATTLIST Ellipsoid
	Name CDATA #IMPLIED
>
<!ELEMENT Ellipsoids (Ellipsoid+)>
<!ELEMENT Error (#PCDATA)>
<!ELEMENT Region (#PCDATA)>
